<div class="row">
  <div class="large-8 columns">
    <h1>Welcome to the dashboard</h1>
  </div>
  <div class="large-2 offset-2 columns">
<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "tiny round button" %>
  </div>


</div>

<div class="row">

  <div class="large-4 columns">
    <ul class="side-nav">
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
    </ul>
  </div>
  <div class="large-8 columns">

    <ul class="small-block-grid-3">
      <li><%=image_tag "home_img.jpg" %> <h3>title one </h3><!-- Your content goes here --></li>
      <li><%=image_tag "home_img.jpg" %> <h3>title two </h3></li>
      <li><%=image_tag "home_img.jpg" %> <h3>title 3 </h3></li>
    </ul>
  </div>
</div>