/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require foundation
 *= require_tree .
 *= require_self

 */

ul{
    list-style: none;
}
body{
    background-image: url("purty_wood.png");
    font-family: sans-serif;
}
.side-nav{
    margin: 10%;
}
.top{
    margin:10%;
}
.round.button{
    color: white;
}
.container{
    background-image: url("crossword.png");
    min-height: 600px;
}
.inline-list h2{
    margin-top: 20%;
    float:left;
}
#image{
    float: right;
    margin: 2% 10%;
}
#tags{
    margin:2px;
}
#steps{
    float:left;
    margin-left: 10%;
    font-size: 1.5em;
}
#steps li{
    font-size: 1.5em;
}
.recipe-info{
    float:left;
}
#pic{
    float:right;
}
